<!-- <p>welcome works!</p> -->
<header>
    <div class="logo"></div>
    <div style="padding-left: 5%;">Nia Arenas</div>
    <div class="auth-buttons">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  </header>
  
  <div class="slideshow-container">
    <img id="slideshow-image" [src]="currentImage" alt="Slideshow Image">
  </div>
  
  <div class="container">
    <h1>Find and Book Your Perfect Venue</h1>
    <p>
      Whether you're planning a wedding, corporate event, or a private party,
      we have the perfect venue for you. Browse our selection of venues and
      book your ideal space today!
    </p>
    <div class="button-group">
      <button class="button" routerLink="/login">Book Now</button>
      <button class="button" routerLink="/venues">View Venues</button>
    </div>
  </div>
  
  <div class="footer">
    &copy; 2025 Nia Arenas. All rights reserved.
  </div>
  